body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}
a, a:visited {
    color: #000000;
}
a:hover {
    color: orangered;
}
input, textarea {
    width: 200px;
}
textarea {
    height: 100px;
}
td {
    vertical-align: top;
}
#menu {
    vertical-align: text-top;
    max-width: 600px;
    margin: auto;
}
#menuTitle {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 21px;
}
#leftIcon {
    float: left;
}
#rightIcon {
    float: right;
}
#divider {
    margin-top: 10px;
    border-top: 1px solid #c0c0c0;
    padding-bottom: 20px;
}
.headerText {
    font-size: 18px;
    padding-bottom: 20px;
}
.formLink {
    text-align: right;
}
#signUpForm, #loginForm {
    width: 500px;
    visibility: collapse;
    border-bottom: 1px solid #c0c0c0;
}
#userProfile {
    border: 1px solid #c0c0c0;
    padding: 10px;
    vertical-align: top;
    max-width: 550px;
}
#userPhoto {
    padding: 3px;
    border: 1px solid #c0c0c0;
    width: 200px;
}
#addNewPostForm{
    visibility: collapse;
}
#addNewPost {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    max-width: 600px;
    visibility: collapse;
}
#posts {
    margin-top: 20px;
    max-width: 550px;
}
.card-item {
    vertical-align: text-bottom;
    border: 1px solid #c0c0c0;
}
.card-header {
    padding: 10px 10px 15px 10px;
    vertical-align: text-bottom;
}
.card-title {
    font-family: 'Varela Round', sans-serif;
    font-size: 21px;
    padding-left: 10px;
}
.card-image img {
    width: 548px;
    cursor: pointer;
}
.card-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    padding: 10px 10px 15px 10px;
    vertical-align: text-bottom;
}
.card-footer {
    padding: 10px 10px 5px 10px;
    text-align: left;
}
.card-footer .likes .info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    float: left;
    vertical-align: text-bottom;
}
.card-footer .info {
    font-style: italic;
}
.card-footer .likeBtn {
    float: right;
}
.spacer-vertical {
    padding-top: 20px;
}
#comments {
    border: 1px solid #c0c0c0;
    padding: 10px 10px 5px 10px;
    max-width: 528px;
}
.card-comment {
    text-align: left;
}