body {
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
}
a, a:visited {
    color: #000000;
}
a:hover {
    color: orangered;
}
input, textarea {
    width: 200px;
}
textarea {
    height: 100px;
}
td {
    vertical-align: top;
    font-size: 2vw;
}
#menu, #main {
    vertical-align: text-top;
    max-width: 600px;
    margin: auto;
}
#menuTitle {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2vw;
}
#leftIcon {
    float: left;
}
#leftIcon img, #rightIcon img {
    width: 45px;
}
#rightIcon {
    float: right;
}
.divider {
    margin-top: 10px;
    border-top: 1px solid #c0c0c0;
    padding-bottom: 20px;
}
.headerText, .headerTextLeft {
    font-size: 2vw;
    padding-bottom: 20px;
}
.headerTextLeft {
    text-align: left;
}
.formLink {
    text-align: right;
}
#signUpForm, #loginForm {
    width: 500px;
    visibility: collapse;
    border-bottom: 1px solid #c0c0c0;
}
#userProfile {
    border: 1px solid #c0c0c0;
    padding: 10px;
    vertical-align: top;
    max-width: 550px;
}
#userPhoto {
    padding: 3px;
    border: 1px solid #c0c0c0;
    width: 200px;
}
#addNewPostForm{
    visibility: collapse;
}
#addNewPost {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    max-width: 600px;
    visibility: collapse;
}
#posts {
    margin-top: 20px;
    max-width: 550px;
}
.card-item {
    vertical-align: text-bottom;
    border: 1px solid #c0c0c0;
}
.card-header {
    padding: 10px 10px 15px 10px;
    vertical-align: text-bottom;
}
.card-title {
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    padding-left: 10px;
}
.card-image img {
    width: 548px;
    cursor: pointer;
}
.card-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    padding: 10px 10px 15px 10px;
    vertical-align: text-bottom;
}
.card-footer {
    padding: 10px 10px 5px 10px;
    text-align: left;
}
.card-footer .likes .info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    float: left;
    vertical-align: text-bottom;
}
.card-footer .info {
    font-style: italic;
}
.card-footer .likeBtn {
    float: right;
}
.spacer-vertical {
    padding-top: 20px;
}
#comments {
    border: 1px solid #c0c0c0;
    padding: 10px 10px 5px 10px;
    max-width: 528px;
}
.card-comment-odd, .card-comment-even {
    text-align: left;
    padding: 7px 11px 7px 11px;
}
.card-comment-odd {
    background-color:  #F1F8E0;
}
.card-comment-even {
    background-color:  #EFF5FB;
}
#addComment {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    max-width: 600px;
}
#addCommentForm {
    visibility: collapse;
}
.mini-card {
    text-align: left;
    cursor: pointer;
}
.mini-card td {
    padding: 7px;
}
.mini-card img {
    width: 100px;
    height: 100px;
    object-fit:cover;
    border-radius:50%;
}
/* .headerTextLeft {
    clear: both;
    margin-top: 30px;
} */