body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}
a, a:visited {
    color: #000000;
}
a:hover {
    color: orangered;
}
input, textarea {
    width: 200px;
}
td {
    vertical-align: top;
}
#menu {
    vertical-align: text-top;
    max-width: 600px;
    margin: auto;
}
#menuTitle {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 21px;
}
#leftIcon {
    float: left;
}
#rightIcon {
    float: right;
}
#divider {
    margin-top: 10px;
    border-top: 1px solid #c0c0c0;
    padding-bottom: 20px;
}
.headerText {
    font-size: 18px;
    padding-bottom: 20px;
}
.formLink {
    text-align: right;
}
#signUpForm, #loginForm {
    width: 500px;
    visibility: collapse;
    border-bottom: 1px solid #c0c0c0;
}
#userProfile {
    border: 1px solid #c0c0c0;
    padding: 10px;
    vertical-align: top;
    max-width: 550px;
}
#userPhoto {
    padding: 3px;
    border: 1px solid #c0c0c0;
    width: 200px;
}
#addNewPostForm{
    visibility: collapse;
}
#addNewPost {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    max-width: 600px;
}
